App_WebReferences/DWHServiceReference/DWHService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://164.164.122.177/INDUSTRYDW/DWHService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DWHService" />
  <xs:element name="LoginUserAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="LoginUserAuthenticationResult" nillable="true" type="q1:ArrayOfDWH_Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q2:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q3:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q4:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="PortalListResult" nillable="true" type="q5:ArrayOfDWH_PortalList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwapUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwapUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SwapUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyEncryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NormKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyEncryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyEncryptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyDecryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NormKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyDecryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyDecryptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PanEinUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q6:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PanEinUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PanEinUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AliasUserNameUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q7:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AliasUserNameUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AliasUserNameUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortalPermissionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q8:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PortalPermissionUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PortalPermissionUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q9:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgotPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q10:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustrtyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndustryUniqueID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustrtyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="GetIndustrtyDetailsResult" nillable="true" type="q11:ArrayOfDWH_Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LogId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppRedirectURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IndustryUniqueID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LogID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppRedirectURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppRedirectURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAppsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAppsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="GetOtherAppsForUserResult" nillable="true" type="q12:ArrayOfRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAliasUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q13:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAliasUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetAliasUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokeFromQueryString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptedURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokeFromQueryStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokeFromQueryStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="URLEncryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="URLEncryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="URLEncryptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogIdFromQueryString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptedURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogIdFromQueryStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogIdFromQueryStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecureURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecureURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecureURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFromQueryString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptedURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFromQueryStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdFromQueryStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUpdateGoSmile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q14:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUpdateGoSmileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfileUpdateGoSmileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndustryProfileUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q15:Registration" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndustryProfileUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndustryProfileUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndustrtyListDeatils">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UniqueID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndustrtyListDeatilsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="IndustrtyListDeatilsResult" nillable="true" type="q16:ArrayOfDWH_Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRejection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q17:DWH_Model" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRejectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRejectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EinUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="ObjModel" nillable="true" type="q18:EINModel" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EinUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EinUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NswsLoginAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VCHPANNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VCHINVNSWSID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppSecurityKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NswsLoginAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DWHService" minOccurs="0" name="NswsLoginAuthenticationResult" nillable="true" type="q19:ArrayOfDWH_Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>